<!DOCTYPE html>
<html lang="en">
  <head>
    <title>create new resource</title>
</head>
<body>
  <h2>Create Resource</h2>

<form action="/new_resource" method="POST">

<label for="title">Title</label>
<input id="title" type="title" name="title" placeholder="Enter title"> <br/>

<label for="url">URL</label>
<input id="url" type="url" name="url" placeholder="Enter url"> <br/>

<label for="topic">Topics</label>
<input id="topic" type="topic" name="topic" placeholder="Enter your topic"> <br/>

<label for="discription">Discription</label>
<input id="discription" type="discription" name="discription"> <br/>

  <input type = "submit" value="Create Post" class="button" align="center">
</form>
</body>
</html>
