<% include ./partials/header %>

<body class="index">
    
      <div class="brand">
        <h1>Share Your Telant With The World</h1>
        <hr class="my-4">
        <a href="/resources" class="btn btn-lg btn-success"><i class="fas fa-user-graduate"></i> View All Resources</a>
        <hr class="m4-4">
        <h3>Sharing Your Knowledge With another <span class="counter" data-count="<%= Number(1133) + Number(count) %>">0</span> People</h3>
      </div>


      <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      <script src="/scripts/countup.js"></script>
</body>
</html>