<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
</head>
<body>
  <h2>Register</h2>

  <form action="/register" method="POST">
    <label for "image_url">Image URL</label>
    <input id="image_url" type="image_url" name="image_url" placeholder="compose your url path"> <br/>

<label for="full_name">Full Name</label>
<input id="full_name" type="full_name" name="full_name" placeholder="Enter your Full Name">

<label for="username">User Name</label>
<input id="username" type="username" name="username" placeholder="Enter username">

    <label for="email">Email</label><br/>
  <input id="email" type="email" name="email" placeholder="Enter an email"> <br/>

    <label for="password">Password</label><br/>
  <input id="password" type="password" name="password" placeholder="Enter a password" ><br/>

  <input type = "submit" value="Register" class="button" align="center">

</form>
</body>
</html>