<!DOCTYPE html>
<html lang="en">
<head>
        <% include partials/head %>

      <% include partials/header %>
</head>
<body>
  <div class="container h-100 register">
    <div class="row h-100 justify-content-center align-items-center">
      <form class="col-6" action="/register" method="post">
              <h2 class="text-center">Register</h2>

        <div class="form-group">
    <label for "fileupload">Image URL</label>
    <input id="fileupload" type="fileupload" name="full_name" class="form-control" placeholder="Enter your Filpath"> <br/>

<!--     <input id="fileupload" type="file" src="/wp-content/uploads/sendform.png" name="fileupload" placeholder="compose your url path">
 -->
</div>

<div class="form-group">

<label for="full_name">Full Name</label>
<input id="full_name" class="form-control" type="full_name" name="full_name" placeholder="Enter your Full Name"> <br/>
</div>

<div class="form-group">

    <label for="email">Email</label>
  <input id="email" class="form-control" type="email" name="email" placeholder="Enter an email"> <br/>
</div>

<div class="form-group">

    <label for="password">Password</label>
  <input id="password" class="form-control" type="password" name="password" placeholder="Enter a password" ><br/>
</div>

        <button type="submit" class="btn btn-primary" align="center">Register</button>


</form>
</div>
</div>
</body>
</html>

