<% include ./partials/header.ejs %>

<div class="container resources">
  <div class="row">

    <% allResources.forEach(function(resource, index) { %>
  <div class="col-sm-4">
  <tbody>
    <div class="card text-center" style="width: 18rem;margin-top: 85px">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fa fa-heart"></i><%= resource.likes %></a>
        </li>
          <li class="nav-item">
        <a class="nav-link" href="http://google.com">Rate</a>
        </li>
    </ul>
  </div>
    <div class="card-body">
      <h5 class="card-title"><%= resource.title %></h5>
        <p class="card-text"><%= resource.description %></p>
        <h5 class="card-url"><%= resource.url %></h5>
          <a href="#" class="btn btn-primary">Comment</a>
      </div>
    </div>
    </div>
<% }) %>
</tbody>
</div>
</div>
</div>
