<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update profile</title>
    <% include partials/head %>
    <% include partials/header %>
  </head>

<body>
  <h2>Edit Profile</h2>

  <form style="margin-top: 4em" action="/users/<%=user.id%>/update" method="POST">
    <label for "fileupload">Image URL</label>

      <input id="fileupload" type="fileupload" name="full_name" placeholder="Enter your Filpath"> <br/>
<!--     <input id="fileupload" type="file" src="/wp-content/uploads/sendform.png" name="fileupload" placeholder="compose your url path">
 -->
        <label for="full_name">Full Name</label>
          <input id="full_name" type="full_name" name="full_name" placeholder="Enter your Full Name"> <br/>
        <label for="email">Email</label>
          <input id="email" type="email" name="email" placeholder="Enter an email"> <br/>
        <input type = "submit" value="Update" class="button" align="center">


  </form>
</body>
</html>
