<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update profile</title>
    <% include partials/head %>
    <% include partials/header %>
  </head>

<body>
  <h2>Edit Profile</h2>

  <form style="margin-top: 4em" action="/users/<%=user.id%>/update" method="POST">
    <label for "fileupload">Image URL</label>
    <input id="avatar" type="avatar" name="avatar" placeholder="<%= user.avatar %>"> <br/>


    <label for="name">Full Name</label>
    <input id="name" type="name" name="name" placeholder="<%= user.name %>"> <br/>

    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="<%= user.email %>"> <br/>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="*******"> <br/>

    <input type = "submit" value="Update" class="button" align="center">

  </form>
</body>
</html>
